#Part;Pos;Attribute;خاصية;code;Value;قيمة;inflection;
# Word Type نوع الكلمة
1;1;word_type;نوع الكلمة;N;Noun;اسم;اسم;
1;1;word_type;نوع الكلمة;V;Verb;فعل;فعل;
1;1;word_type;نوع الكلمة;T;Tool;أداة;حرف;
1;1;word_type;نوع الكلمة;P;Punctuation;ترقيم;علامة ترقيم;
1;1;word_type;نوع الكلمة;S;Symbol;رمز;رمز;
1;1;word_type;نوع الكلمة;D;Numeric;عدد;عدد;
1;1;word_type;نوع الكلمة;-;Undef;لاشيء;;
## Sub Class صنف فرعي
1;2;subclass;صنف;M;Masdar;مصدر;;
## transitive
1;3;transitive;تعدي;0;intransitive;لازم;;
1;3;transitive;تعدي;1;transitive;متعدي;;
1;3;transitive;تعدي;2;double transitive;متعدي لمفعولين;;
1;3;transitive;تعدي;4;commun;مشترك;;
1;3;transitive;-;تعدي;undef;لاشيء;;

# Conjugation
## Gender الجنس
2;1;gender;جنس;M;masculine;مذكر;مذكر
2;1;gender;جنس;F;Feminine;مؤنث;مؤنث;
2;1;gender;جنس;-;none;لاشيء;;
## Number العدد
2;2;number;عدد;1;single;مفرد;مفرد;
2;2;number;عدد;2;dual;مثنى;مثنى;
2;2;number;عدد;3;plural;جمع;جمع;
2;2;number;عدد;4;plural;جمع تكسير;جمع تكسير;
2;2;number;عدد;-;none;لاشيء;;
## Inlfection case الحالة الإعرابية
2;3;case;إعراب;U;marfou3;مرفوع;مرفوع;
2;3;case;إعراب;0;manjzoum; مجزوم;مجزوم;
2;3;case;إعراب;I;majrour;مجرور;مجرور;
2;3;case;إعراب;A;mansoub;منصوب;منصوب;
2;3;case;إعراب;B;mabni;مبني;مبني;
2;3;case;إعراب;-;undef;لاشيء;;
## Inflection marks
2;4;mark;علامة;u;damma;الضمة;الضمة;
2;4;mark;علامة;a;fatha;الفتحة;الفتحة;
2;4;mark;علامة;i;kasra;الكسرة;الكسرة;
2;4;mark;علامة;0;sukun;السكون;السكون;
2;4;mark;علامة;A;alef;الألف;الألف;
2;4;mark;علامة;W;waw;الواو;الواو;
2;4;mark;علامة;Y;yeh;الياء;الياء;
2;4;mark;علامة;N;noon;ثبوت النون;ثبوت النون;
2;4;mark;علامة;-;undef;لاشيء;;


# Procletics and prefixes
## Conjuction
3;1;conjonction;عطف;W;WAW;الواو;;
3;1;conjonction;عطف;F;FEH;الفاء;;
3;1;conjonction;عطف;-;undef;لاشيء;;
## preposition
3;2;preposition;جر;B;Beh;باء;بالباء;
3;2;preposition;جر;K;Kaf;كاف;بالكاف;
3;2;preposition;جر;L;Lam;لام;باللام;
3;2;preposition;جر;-;undef;لاشيء;;
## Definition
3;3;definite;تعريف;L;definited;معرفة;;
3;3;definite;تعريف;-;indefinite;نكرة;;


## Enclitics
3;4;encletic;ضمير متصل;H;Heh;ضمير متصل;والضمير المتصل مبني;
3;4;encletic;ضمير متصل;-;undef;لاشيء;;

# Special Verb
## Istiqbal
4;1;istqbal;استقبال;s;istqbal;استقبال;استقبال;
4;1;istqbal;استقبال;-;undef;لاشيء;;
## Voice البناء
4;2;voice;بناء;a;acive voice;معلوم;مبني للمعلوم;
4;2;voice;بناء;p;acive voice;مجهول;مبني للمجهول;
4;2;voice;بناء;-;undef;لاشيء;;
## tense الزمن
4;3;tense;زمن;p;past;ماض;ماضي;
4;3;tense;زمن;f;present;مضارع;مضارع;
4;3;tense;زمن;i;imperative;أمر;أمر;
4;3;tense;زمن;-;undef;لاشيء;;
## person الشخص
4;4;person;شخص;I;1st person;متكلم;;
4;4;person;شخص;Y;2nd person;مخاطب;;
4;4;person;شخص;H;3rd person;غائب;;
4;4;person;شخص;-;undef;لاشيء;;


#Parameters: must starts by #PARAM:
$PARAM:TAG_PARTS_SIZES=3;4;5;5

$MAP:المضارع المعلوم=مضارع;معلوم;مرفوع
$MAP:المضارع المجزوم=مضارع;معلوم;مجزوم
$MAP:Noun=اسم
$MAP:y=متعدي
$MAP:الأمر المؤكد=أمر;مؤكذ
$MAP:مضاف=ضمير متصل
$MAP:الأمر=أمر
$MAP:هن=غائب;مؤنث;جمع
$MAP:هم=غائب;مذكر;جمع
$MAP:هما=غائب;مذكر;مثنى
$MAP:المضارع المجهول المنصوب=مضارع;مجهول;منصوب
$MAP:المضارع المجهول المجزوم=مضارع;مجهول;مجزوم
$MAP:مفعول به=ضمير متصل
$MAP:n=لازم
$MAP:هما مؤ=غائب;مؤنث;مثنى
$MAP:هي=غائب;مؤنث;مفرد
$MAP:المضارع المؤكد الثقيل المجهول =مضارع;مجهول;مؤكد
$MAP:هو=غائب;مذكر;مفرد
$MAP:أنتِ=مخاطب;مؤنث;مفرد
$MAP:المضارع المنصوب=مضارع;معلوم;منصوب
$MAP:أنت=مخاطب;مذكر;مفرد
$MAP:الماضي المجهول=ماضي;مجهول
$MAP:أنا=متكلم;مفرد
$MAP:الماضي المعلوم=ماضي;معلوم
$MAP:المضارع المؤكد الثقيل=مضارع;معلوم;مؤكد
$MAP:أنتما مؤ=مخاطب;مؤنث;مثنى
$MAP:المضارع المجهول=مضارع;مجهول;مرفوع
$MAP:أنتما=مخاطب;مذكر;مثنى
$MAP:Verb=فعل
$MAP:أنتم=مخاطب;مذكر;جمع
$MAP:تعريف=معرفة
$MAP:أنتن=مخاطب;مؤنث;جمع
$MAP:نحن=متكلم;جمع
