#Part;Pos;Attribute;خاصية;code;Value;قيمة;inflection;
# Word Type نوع الكلمة
1;1;word_type;نوع الكلمة;N;Noun;اسم;اسم;
1;1;word_type;نوع الكلمة;V;Verb;فعل;فعل;
1;1;word_type;نوع الكلمة;T;Tool;أداة;حرف;
1;1;word_type;نوع الكلمة;P;Punctuation;ترقيم;علامة ترقيم;
1;1;word_type;نوع الكلمة;S;Symbol;رمز;رمز;
1;1;word_type;نوع الكلمة;D;Numeric;عدد;عدد;
1;1;word_type;نوع الكلمة;-;Undef;لاشيء;;

## Sub Class صنف فرعي
1;2;subclass;صنف;M;Masdar;مصدر;;
1;2;subclass;صنف;A;Adjective;صفة;;
1;2;subclass;صنف;A;Adjective similair;صفة مشبهة;;
1;2;subclass;صنف;A;Adjective superlative;صيغة مبالغة;;
1;2;subclass;صنف;A;maf3oul;اسم مفعول;;
1;2;subclass;صنف;A;fa3il;اسم فاعل;;
1;2;subclass;صنف;P;Proper Noun;اسم علم;;
1;2;subclass;صنف;S;Superlative;اسم تفضيل;;
1;2;subclass;صنف;J;jamid;جامد;;
1;2;subclass;صنف;N;invariable;فعل جامد;;
1;2;subclass;صنف;H;heart;أفعال القلوب;;
1;2;subclass;صنف;R;probability;أفعال الظن;;
1;2;subclass;صنف;T;Tranfert;أفعال التحويل;;
1;2;subclass;صنف;I;initiative;أفعال الشروع;;
1;2;subclass;صنف;W;Weak;معتل;معتل;
1;2;subclass;صنف;3;tri;ثلاثي;-;
1;2;subclass;صنف;4;quadri;رباعي;-;
1;2;subclass;صنف;5;quinti;خماسي;-;
1;2;subclass;صنف;6;hex;سداسي;-;

## noun options
1;3;option;خاصية;R;Related;منسوب;;
1;3;option;خاصية;-;none;لاشيء;;

## transitive
1;3;transitive;تعدي;0;intransitive;لازم;;
1;3;transitive;تعدي;1;transitive;متعدي;;
1;3;transitive;تعدي;2;double transitive;متعدي لمفعولين;;
1;3;transitive;تعدي;4;commun;مشترك;;
1;3;transitive;-;تعدي;undef;لاشيء;;

# Conjugation
## Gender الجنس
2;1;gender;جنس;M;masculine;مذكر;مذكر
2;1;gender;جنس;F;Feminine;مؤنث;مؤنث;
2;1;gender;جنس;-;none;لاشيء;;
## Number العدد
2;2;number;عدد;1;single;مفرد;مفرد;
2;2;number;عدد;2;dual;مثنى;مثنى;
2;2;number;عدد;3;plural;جمع;جمع;
2;2;number;عدد;4;plural;جمع تكسير;جمع تكسير;
2;2;number;عدد;-;none;لاشيء;;

## person الشخص
2;3;person;شخص;I;1st person;متكلم;;
2;3;person;شخص;Y;2nd person;مخاطب;;
2;3;person;شخص;H;3rd person;غائب;;
2;3;person;شخص;-;undef;لاشيء;;

## Inflection marks
2;4;mark;علامة;u;damma;الضمة;الضمة;
2;4;mark;علامة;a;fatha;الفتحة;الفتحة;
2;4;mark;علامة;i;kasra;الكسرة;الكسرة;
2;4;mark;علامة;0;sukun;السكون;السكون;
2;4;mark;علامة;U;dammatan;تنوين الضمة;;
2;4;mark;علامة;e;fathatan;تنوين الفتحة;;
2;4;mark;علامة;E;alef_fathatan;تنوين الألف;;
2;4;mark;علامة;I;kasratan;تنوين الكسرة;;
2;4;mark;علامة;A;alef;الألف;الألف;
2;4;mark;علامة;W;waw;الواو;الواو;
2;4;mark;علامة;Y;yeh;الياء;الياء;
2;4;mark;علامة;N;noon;ثبوت النون;ثبوت النون;
2;4;mark;علامة;-;undef;لاشيء;;
## tense الزمن
2;5;tense;زمن;p;past;ماضي;ماضي;
2;5;tense;زمن;f;present;مضارع;مضارع;
2;5;tense;زمن;i;imperative;أمر;أمر;
2;5;tense;زمن;-;undef;لاشيء;;

## Voice البناء
2;6;voice;بناء;a;acive voice;معلوم;مبني للمعلوم;
2;6;voice;بناء;p;acive voice;مجهول;مبني للمجهول;
2;6;voice;بناء;-;undef;لاشيء;;



## Inlfection case الحالة الإعرابية
2;7;case;إعراب;U;marfou3;مرفوع;مرفوع;
2;7;case;إعراب;0;manjzoum;مجزوم;مجزوم;
2;7;case;إعراب;I;majrour;مجرور;مجرور;
2;7;case;إعراب;A;mansoub;منصوب;منصوب;
2;7;case;إعراب;B;mabni;مبني;مبني;
2;7;case;إعراب;-;undef;لاشيء;;
2;7;case;إعراب;M;confirmed;مؤكد;مؤكد;

# Procletics and prefixes
## Conjuction
3;1;conjonction;عطف;W;WAW;معطوف بالواو;;
3;1;conjonction;عطف;F;FEH;معطوف بالفاء;;
3;1;conjonction;عطف;-;undef;لاشيء;;
## preposition
3;2;preposition;جر;B;Beh;مجرور بالباء;باء;
3;2;preposition;جر;K;Kaf;مجرور بالكاف;كاف;
3;2;preposition;جر;L;Lam;مجرور باللام;لام;
3;2;preposition;جر;-;undef;لاشيء;;

# Special Verb
## Istiqbal 
3;2;istqbal;استقبال;s;istqbal;استقبال;استقبال;
3;2;istqbal;استقبال;-;undef;لاشيء;;

## Definition for nouns
3;3;definite;تعريف;L;definited;معرفة;;
3;3;definite;تعريف;-;indefinite;نكرة;;

## Enclitics for verbs and nouns
3;3;encletic;ضمير متصل;H;Heh;ضمير متصل;والضمير المتصل مبني;
3;3;encletic;ضمير متصل;-;undef;لاشيء;;


#Parameters: must starts by #PARAM:
$PARAM:TAG_PARTS_SIZES=3;7;3

$MAP:المضارع المعلوم=مضارع;معلوم;مرفوع
$MAP:المضارع المجزوم=مضارع;معلوم;مجزوم
$MAP:Noun=اسم
$MAP:y=متعدي
$MAP:الأمر المؤكد=أمر;مؤكذ
$MAP:مضاف=ضمير متصل
$MAP:الأمر=أمر
$MAP:هن=غائب;مؤنث;جمع
$MAP:هم=غائب;مذكر;جمع
$MAP:هما=غائب;مذكر;مثنى
$MAP:المضارع المجهول المنصوب=مضارع;مجهول;منصوب
$MAP:المضارع المجهول المجزوم=مضارع;مجهول;مجزوم
$MAP:مفعول به=ضمير متصل
$MAP:n=لازم
$MAP:هما مؤ=غائب;مؤنث;مثنى
$MAP:هي=غائب;مؤنث;مفرد
$MAP:المضارع المؤكد الثقيل المجهول =مضارع;مجهول;مؤكد
$MAP:هو=غائب;مذكر;مفرد
$MAP:أنتِ=مخاطب;مؤنث;مفرد
$MAP:المضارع المنصوب=مضارع;معلوم;منصوب
$MAP:أنت=مخاطب;مذكر;مفرد
$MAP:الماضي المجهول=ماضي;مجهول
$MAP:أنا=متكلم;مذكر;مفرد
$MAP:الماضي المعلوم=ماضي;معلوم
$MAP:المضارع المؤكد الثقيل=مضارع;معلوم;مؤكد
$MAP:أنتما مؤ=مخاطب;مؤنث;مثنى
$MAP:المضارع المجهول=مضارع;مجهول;مرفوع
$MAP:أنتما=مخاطب;مذكر;مثنى
$MAP:Verb=فعل
$MAP:أنتم=مخاطب;مذكر;جمع
$MAP:تعريف=معرفة
$MAP:أنتن=مخاطب;مؤنث;جمع
$MAP:نحن=متكلم;مذكر;جمع
